body {
    padding: 0 !important;
    margin: 0 !important;
    overflow-x: hidden;
}

.banner-perfil {
    height: 15em;
    background-position: center;
    background-image: url("../img/banner/banner-perfil.jpg") !important;
}

.image-perfil {
    height: 12em;
    width: 12em;
    position: relative;
    top: 7em;
    border-radius: 100%;
    border: 0.5em solid white;
    background-position: center;
    background-size: contain;
    background-image: url("../img/perfil/perfil-1.jpg") !important;
}

.navbar {
    z-index: 9999;
}

.img-projects {
    width: 100% !important;
}

.toast {
    position: fixed;
}